@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
$fontMain : 'Heebo', sans-serif;
$fontMain2 : 'Archivo Black', sans-serif;
$fontSizeSmall:0.8em;
$fontSizeMedium:1em;
$fontSizeBig:1.5rem;
$fontBold:400;
$fontThin:300;
$fontColorWhite: white;
